@import "colours";

.game-card {
    padding: 1rem;
    margin: 0.5rem;
    width: 150px;
    height: 150px;
    background: $gameSlate;
    //border: 1px solid #ccc;
    border-radius: 5px;
    //border-radius: 1rem;
    //box-shadow: 0 0 15px #000;
    //border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
    background-image: url("https://media.rawg.io/media/screenshots/38e/38efd8e2f8335db8f949b4092684cdfa.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    color: $fontColor;
    text-decoration: none;

    h4 {
        height: 60px;
        overflow: hidden;
        margin: 0.5rem 1rem;
    }
}