
.libPreview, .storePreview {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    //display: inline-block;
    justify-content: space-between;
    max-width: 900px;

    .game-card {
        grid-column: 1;
        grid-row: 1;
    }

    div {
        flex-grow: 2;
        display: flex;
        flex-flow: wrap;
        flex-basis: 700px;


        article {
            display: grid;
        }
    }
}

.libPreview {
    grid-area: lib;

    div {
        justify-content: center;

        @media only screen and (min-width: 900px) {
            justify-content: normal;
        }
    }


    .favouriteIcon {
        grid-column: 1;
        grid-row: 1;
        align-self: first baseline;
        position: relative;
        font-size: 0;
        right: -180px;
        top: 23px;
        width: 16px;
        height: 16px;
        padding: 0px;
        margin: -8px;


        img {
            width: 16px;
            height: 16px;
        }
    }
}

.storePreview {
    grid-area: store;
}

.favPreview {
    grid-area: fav;
    justify-self: end;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //max-width: 150px;
    //min-width: 200px;
    div {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        //justify-content: end;
        //justify-content: space-evenly;

        article {
            display: grid;
        }
    }

    .sectionTitle {
        width: auto;
        margin: 1rem 0;
    }
}


