
.libPreview {
    grid-area: lib;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    flex-basis: 700px;

    .sectionTitle {
        text-align: center;
    }

    div {
        display: flex;
        flex-flow: wrap;
        flex-basis: 600px;

        article {
            display: grid;


            .favouriteIcon {
                grid-column: 1;
                grid-row: 1;
                align-self: first baseline;
                position: relative;
                font-size: 0;
                right: -165px;
                top: 25px;
                width: 16px;
                height: 16px;
                padding: 0px;
                margin: -8px;
            }
        }
    }
}

.favPreview {
    grid-area: fav;
    justify-self: end;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //max-width: 150px;
    //min-width: 200px;
    div {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        //justify-content: end;
        //justify-content: space-evenly;

        article {
            display: grid;
        }
    }

    .sectionTitle {
        width: auto;
        margin: 1rem 0;
    }
}

.storePreview {
    grid-area: store;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    //display: inline-block;
    justify-content: space-between;
    flex-basis: 700px;

    .game-card {
        grid-column: 1;
        grid-row: 1;
    }

    div {
        flex-grow: 2;
        display: flex;
        flex-flow: wrap;
        flex-basis: 600px;
        //justify-content: space-evenly;

        article {
            display: grid;
        }
    }
    // width: 60%;
}