@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;1,600&display=swap');
@import "colours";
@import "gamecard";
@import "pagepreviews";

$maxwidth: 85%;
$rootsize: 14px;


html, body {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: $rootsize;
    color: $fontColor;
    background-color: $backgroundColor;
    //max-height: 80%;
}

h1, h2, h3 {
    font-weight: 600;
}

h1{
    font-size: $rootsize * 3;

}

h2 {
    font-size: $rootsize * 2;
    margin: 1rem 1rem 1rem 0;
}

h3 {
    font-size: $rootsize * 1.5;
    margin: 1rem 0 0 0;
}

h4 {
    font-size: $rootsize;
    font-weight: 400;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    a {
        max-width: 250px;
        text-decoration: none;
        text-transform: uppercase;
        color: $fontColor;
    }
}

footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 5rem;

    a {
        //text-decoration: none;
        color: $fontColor;
    }
}

.pageButton, .pageButtonSelected {
    padding: 0.5rem;
}

.pageButtonSelected {
    color: $gameRed;
}

main {
    //display: flex;
}

section {
    margin: 1rem;
    padding: 1rem;
    /*background: $gameSlate;
    border: 1px solid #ccc;
    border-radius: 5px;*/
    //max-width: auto;
}


.frontpage {
    display: grid;
    //flex-direction: column;
    grid-gap: 0.5rem;
    grid-template-areas:
        "store fav" "lib fav";
    grid-template-rows: 1fr auto;
    grid-template-columns: 3fr 1fr;
   /* justify-content: stretch;
    align-content: stretch;
    overflow: visible;*/
}

.gameview {
    display: flex;
    flex-direction: column;

    span {
        display: flex;
    }
}

.gameinfo{
    margin: 1rem;
}

.favouriteIcon {
    width: 32px;
    height: 32px;
    margin: 1rem 3rem;
    align-self: center;
    cursor: pointer;
 
}

.pageview {
    grid-area: lib;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;



    div {
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        position: relative;
    }
}

.sectionTitle {
    font-weight: 600;
    font-size: $rootsize * 2;
    margin: 1rem 1rem 1rem 0;
    text-decoration: none;
    color: $fontColor;
    width: 80px;
}

#container {
    display: flex;
    flex-flow: column;
    max-width: $maxwidth;
    margin: 0 auto;
    min-height: 100vh;
}