@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;1,600&display=swap');

@import "colours";
@import "effects";
@import "gamecard";

@mixin label_linkstyle() {
    text-decoration: none;
    color: $fontColor;
}

//makes use of mixin declared above
@import "buttons";
@import "pagepreviews";

$maxwidth: 1400px;
$verticalThreshold: 1200px;
$rootsize: 14px;

//makes use of defaults above
@import "gamepage";




html, body {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: $rootsize;
    color: $fontColor;
    background-color: $backgroundColor;
    //max-height: 80%;
}

h1{
    font-size: $rootsize * 3;
    font-weight: 500;

}

h2 {
    font-size: $rootsize * 1.5;
    margin: 0;
    word-wrap: break-word;
    hyphens: auto; //doesn't work in most browsers
}

h3 {
    font-size: $rootsize;
    font-weight: 300;
    width: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 5px #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    a {
        max-width: 250px;
        text-transform: uppercase;
        @include label_linkstyle();
    }
}
main {
    height: 100%;
    display: flex;
    flex-grow: 1;
}
footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 5rem;

    a {
        color: $fontColor;
    }
}

.pageButton, .pageButtonSelected {
    padding: 1px 0.5rem;
}

.pageButtonSelected {
    color: #000000;
    font-weight: 600;
   // text-shadow: 0 0 2px #ffffff;
    background-color: #ffffff;
    border-radius: 6px;
    //box-shadow: 0 0 10px rgba(0,0,0,1) inset,0 0 10px rgba(0,0,0,1) inset,0 0 10px rgba(0,0,0,1) inset,0 0 15px rgba(0,0,0,1) inset;
}



section {
    margin: 1rem;
    padding: 1rem;
    /*background: $gameSlate;
    border: 1px solid #ccc;
    border-radius: 5px;*/
    //max-width: auto;
}


.frontpage {
    height: 100%;
    width: 100%;
    display: grid;
    //justify-items: end;
    //flex-direction: column;
    grid-gap: 0.5rem;

    grid-template-areas:
        "store fav" "lib lib";

    @media only screen and (min-width: 900px) {
        grid-template-areas:
            "store fav" "lib fav";
    }

    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    /* justify-content: stretch;
    align-content: stretch;
    overflow: visible;*/
}

.pageview {


    div {
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        flex-grow: 1;
        justify-content: safe center;

        article {
            display: grid;

            .favouriteIcon {
                @include favbutton_card();
            }
        }
    }
}


.sectionTitle, .pageTitle {
    font-weight: 500;
    font-size: $rootsize * 2;
    margin: 1rem 1rem 1rem 0;
    @include label_linkstyle();
}

.sectionTitle {
    width: 80px;

}


#container {
    display: flex;
    flex-flow: column;
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 0 5rem;
    min-height: 100vh;
}
