@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;1,600&display=swap");
.game-card {
  padding: 1rem;
  margin: 0.5rem;
  width: 150px;
  height: 150px;
  background: #444;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
  background-image: url("https://media.rawg.io/media/screenshots/38e/38efd8e2f8335db8f949b4092684cdfa.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-decoration: none;
}
.game-card h4 {
  height: 60px;
  overflow: hidden;
  margin: 0.5rem 1rem;
}

.libPreview {
  grid-area: lib;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  flex-basis: 700px;
}
.libPreview .sectionTitle {
  text-align: center;
}
.libPreview div {
  display: flex;
  flex-flow: wrap;
  flex-basis: 600px;
}
.libPreview div article {
  display: grid;
}
.libPreview div article .favouriteIcon {
  grid-column: 1;
  grid-row: 1;
  align-self: first baseline;
  position: relative;
  font-size: 0;
  right: -165px;
  top: 25px;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: -8px;
}

.favPreview {
  grid-area: fav;
  justify-self: end;
  display: flex;
  flex-direction: column;
}
.favPreview div {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
}
.favPreview div article {
  display: grid;
}
.favPreview .sectionTitle {
  width: auto;
  margin: 1rem 0;
}

.storePreview {
  grid-area: store;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 700px;
}
.storePreview .game-card {
  grid-column: 1;
  grid-row: 1;
}
.storePreview div {
  flex-grow: 2;
  display: flex;
  flex-flow: wrap;
  flex-basis: 600px;
}
.storePreview div article {
  display: grid;
}

html, body {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  background-color: #000;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 42px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 1rem 1rem 1rem 0;
}

h3 {
  font-size: 21px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  hyphens: auto;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 5px #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
header a {
  max-width: 250px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

main {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: 5rem;
}
footer a {
  color: #fff;
}

.pageButton, .pageButtonSelected {
  padding: 1px 0.5rem;
}

.pageButtonSelected {
  color: #000000;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 6px;
}

section {
  margin: 1rem;
  padding: 1rem;
  /*background: $gameSlate;
  border: 1px solid #ccc;
  border-radius: 5px;*/
}

.frontpage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas: "store fav" "lib fav";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  /* justify-content: stretch;
  align-content: stretch;
  overflow: visible;*/
}

.gameview {
  display: flex;
  background: #252525;
  border-radius: 100px;
  background-image: url("https://media.rawg.io/media/screenshots/38e/38efd8e2f8335db8f949b4092684cdfa.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 100px rgb(0, 0, 0) inset, 0 0 100px rgb(0, 0, 0) inset, 0 0 100px rgb(0, 0, 0) inset, 0 0 100px rgb(0, 0, 0) inset;
  padding: 8rem;
  margin: 5rem;
}
.gameview h3 {
  font-weight: 300;
}
.gameview span {
  display: flex;
}

.gameinfo, .gameinfo_desc {
  margin: 1rem;
  text-shadow: 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000;
}

.gameinfo_desc {
  display: flex;
  flex-flow: column;
}

.favouriteIcon {
  width: 32px;
  height: 32px;
  margin: 1rem 3rem;
  align-self: center;
  cursor: pointer;
}

.pageview div {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: safe center;
}
.pageview div article {
  display: grid;
}
.pageview div article .game-card {
  grid-column: 1;
  grid-row: 1;
}
.pageview div article .favouriteIcon {
  grid-column: 1;
  grid-row: 1;
  align-self: first baseline;
  position: relative;
  font-size: 0;
  right: -165px;
  top: 25px;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: -8px;
}

.sectionTitle, .pageTitle {
  font-weight: 500;
  font-size: 28px;
  margin: 1rem 1rem 1rem 0;
  text-decoration: none;
  color: #fff;
}

.sectionTitle {
  width: 80px;
}

.buyButton, .buyButton_card {
  text-decoration: none;
  color: #fff;
  padding: 0.4rem;
  height: 1rem;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.4);
  background-color: rgba(10, 10, 10, 0.6);
}

.buyButton_card {
  grid-column: 1;
  grid-row: 1;
  align-self: normal;
  position: relative;
  bottom: -150px;
  left: 120px;
  padding: 0.4rem 0;
  width: 50px;
}

#container {
  display: flex;
  flex-flow: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5rem;
  min-height: 100vh;
}

/*# sourceMappingURL=main.css.map */
